*{
    padding:0;
    margin:0;
    box-sizing:border-box !important;
}
.main-jumbotron{
    background: url('https://leadergamer.com.tr/app/uploads/2019/08/Spider-Man-Far-From-Home.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 85vh;
    margin-top: -5%;
}
body{
    background:#141414;
    font-family: sans-serif !important;
    box-sizing: border-box;
}
.active{
    color:white !important;
    font-weight: bold !important;

}
.Home{
    margin-top: 5% !important;
}

.movie-slides{
    box-shadow: 3px 3px 3px 0px black inset, -3px -3px 3px 1px black inset;
    width:97%;
    height:20vh;
    border-radius: 2px;
    margin-left:-10px;    /* slide ekle */
    overflow: hidden !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.movie-slides:hover + .slider-icons-all{
    display:flex !important;
    gap: 0.5rem;
}

.half-width{
    margin-top: 1%;
    margin-left: 4%;
    width:96% !important;
}
.full-width{
    margin-top: 1%;
    width:100% !important;
    overflow: hidden !important;
}
.arrow-left{
    color:white;
    font-size: 40px !important;
    position: absolute;
    z-index: 5;
    top:3px;
    left:-60px;
    padding-left: 10px;
    font-size: 50px !important;
    background-color: rgba(0,0,0,0.5);
    height: 20vh !important;
}
.arrow-left:hover{
    display:block !important;
    cursor:pointer;
}
.arrow-right{
    background-color: rgba(0,0,0,0.5);
    height: 20vh !important;
    color:white;
    font-size: 40px !important;
    position: absolute;
    top:3px;
    padding: 5px;
    font-size: 50px !important;
    left:-50px;
    cursor: pointer;
}




.kenk:hover  .profile-bar{
    display: block;
}

@media only screen and (max-width: 767px) {
    .menu-item {
      display: none !important;
    }
    .m-left{
        margin-left:0rem !important;
        margin-right:0rem !important;
    }
    .logo{
        margin-top:1rem !important;
    }
   
       .inpts{
           width: 175px !important;
       }
       .acc-pic-two{
        border-radius: 6px;
        width:80% !important;
        margin-left: 20px;
        margin-top: 10px;
     }
     .new-profile{
        width: 100% !important;
        margin: 0 auto;
        margin-top: 10%;
        padding: 20px;
       }
       .new-profile-md{
        width: 100% !important;
        margin: 0 auto ;
    }
    .style-main{
        justify-content: center !important;
    }
    .style-btn{
        justify-content: center;
    }
  }
.menu-item {
    color:#e5e5e5;
  }
  .who-watch-all{
    width: 100%;
    margin: 0 auto;
    margin-top: 12%;
  }
 .who-watch{
     display: flex;
     justify-content: center;
     gap: 2rem;
     flex-wrap: wrap;
 }
 .acc-pic{
     border-radius: 6px;
     height: 20vh;
     cursor: pointer;
     object-fit: cover;
 }
 .acc-pic-two{
    border-radius: 6px;
    width: 120px;
 }
 .who-watch-text{
     text-align: center;
     font-size: 3.5rem;
     font-weight: 500;
     color:white;
 }
 .new-profile{
  width: 70%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
 }



.add-icon{
    font-size: 6rem !important;
}
.who-text{
    color: #808080;
    font-size: 20px;
    margin-top: 5%;
    text-align: center;
}
.profile-bar{
    position: absolute;
    width: 190px;
    top:75px;
    right:17px;
    background-color: black;
    display: none;
}
.ll{
    position: absolute;
    top: -7.5%;
    left: 65%;
    width: 35%;
}
.profile-manager{
    text-align: center;
    margin: 0 auto;
    margin-top: 5.3%;
    border: 1px solid #808080;
    width: 13.5%;
    min-width: 200px;
    color:#808080;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 12px;
    cursor: pointer;
}
.list-li{
    font-size: 0.8rem;
    font-weight: 600;
    text-align: start;
}
.list-ul{
    list-style: none;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: #4B4744;
    margin-top: 6%;
    margin-bottom: 6%;
}
.sec{
    padding-top: 12px;
}
.ptext{
    margin-top: 30px;
}
.nav-link{
    text-decoration: none;
    color: #808080;
}
.slider-icons-all{
    display: flex;
    display: none;
}
.slider-icons{
    color: #666;
    font-size: 2rem !important;
    margin-top: 10px;
}
.play-first{
    color: white;
}
.slider-last{
    align-self: flex-end !important;
    flex: 1;
}
.main-divs{
    width:155px;
    height:150px;
    background-size:100% auto;
    background-repeat:no-repeat;
    border-radius: 6px;
    cursor: pointer;
}
.add-div{
    padding: 28px;
    color: #4E4E4E;
}
.add-div:hover{
    background-color: #E5E5E5;
}
.new-profile-md{
    width: 65%;
    margin: 0 auto;
}