*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.main-jumbotron{
    background: url('https://leadergamer.com.tr/app/uploads/2019/08/Spider-Man-Far-From-Home.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 85vh;
    margin-top: -5%;
}
body{
    background:#141414;
    font-family: sans-serif !important;
    box-sizing: border-box;
}
.active{
    color:white !important;
    font-weight: bold !important;

}
.Home{
    margin-top: 5% !important;
}

.movie-slides{
    box-shadow: 3px 3px 3px 0px black inset, -3px -3px 3px 1px black inset;
    width:97%;
    height:20vh;
    border-radius: 2px;
    margin-left:-10px;    /* slide ekle */
    overflow: hidden !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.half-width{
    margin-top: 1%;
    margin-left: 4%;
    width:96% !important;
}
.full-width{
    margin-top: 1%;
    width:100% !important;
    overflow: hidden !important;

}
.arrow-left{
    color:white;
    font-size: 40px !important;
    position: absolute;
    z-index: 5;
    top:3px;
    left:-60px;
    padding-left: 10px;
    font-size: 50px !important;
    background-color: rgba(0,0,0,0.5);
    height: 20vh !important;
}
.arrow-left:hover{
    display:block !important;
    cursor:pointer;
}
.arrow-right{
    background-color: rgba(0,0,0,0.5);
    height: 20vh !important;
    color:white;
    font-size: 40px !important;
    position: absolute;
    top:3px;
    padding: 5px;
    font-size: 50px !important;
    left:-50px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
  .who-text{
      font-size: 1.2rem !important;
  }
  .acc-pic{
    border-radius: 6px;
    height: 25vh !important;
    cursor: pointer;
    object-fit: cover;
}
}
@media only screen and (max-width: 767px) {
 
    .menu-item {
      display: none !important;
    }
    .m-left{
        margin-left:0rem !important;
        margin-right:0rem !important;
    }
    .logo{
        margin-top:1rem !important;
    }
  }

.menu-item {
    color:#e5e5e5;
  }
  .who-watch-all{
    width: 70%;
    margin: 0 auto;
    margin-top: 15%;
  }
 .who-watch{
     display: flex;
     justify-content: center;
     gap: 2.5rem;
     flex-wrap: wrap;
 }
 .acc-pic{
     border-radius: 6px;
     height: 19vh;
     cursor: pointer;
     object-fit: cover;
 }
 .acc-pic-two{
    border-radius: 6px;
    height: 16vh;
    cursor: pointer;
    object-fit: cover;
 }
 .who-watch-text{
     text-align: center;
     font-size: 3.5rem;
     font-weight: 500;
     color:white;
 }
 .who-text{
     text-align: center;
     font-size: 1.5rem;
     color: #808080;
     margin-top: 4%;
 }
.add-profile{
    width: 115%;
    height: 18.5vh;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
}
.add-profile:hover{
    background: #E5E5E5;
}
.add-icon{
    margin-left:25px !important;
    margin-top: 15%;
    font-size: 8rem !important;
    color: #808080;
}
.ptext{
    margin-top: 9%;
    margin-left: 15.5%;
}
.new-profile{
    position: absolute;
    left:30%;
    top:25%;
    width: 40%;
}
::-webkit-input-placeholder { /* Edge */
    color: white;
    font-size: 1.5rem;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: white;
    font-size: 1.5rem;
  }
  
  ::placeholder {
    color: white;
    font-size: 1.5rem;
  }
  